body {
    width: 100%;
}

header {
    position: fixed;
    background-color: gray;
    width: 100%;
    height: 100px;
    z-index: 2;
}

nav {
    position: fixed;
    background-color: green;
    width:100px;
    height: 100%;   
    z-index: 1;
}

main {
    position: relative;
}

.wrapper-with-nav {
    background-color: antiquewhite;
    padding-top: 120px;
    padding-left: 120px;
    padding-bottom: 100px;
    z-index: 0;
}

footer {
    position: relative;
    background-color: blue;
    height:100px;
    z-index: 2;
    margin-top: ;
}